/**!
 * lazy images
 */

.lazyload,
.lazyloading,
.lazyloaded {
	opacity: 0;
	will-change: opacity;
	transition: all .3s ease-in;
}
.lazyloaded {
	opacity: 1;
}

/**
 *  Preview Thumbnail
 */
.lazyload.thumb,
.lazyloading.thumb,
.lazyloaded.thumb {
	opacity: 1;
}


/**
 *  Intrinsic Ratio
 */
.intrinsic-ratio-wrapper {
	display: inline-block;
	max-width: 100%;
	&.width-rel {
		width: 100%;
	}
}
.intrinsic-ratio {
	position: relative;
	height: 0;
	max-width: 100%;
	> img,
	> picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	> .thumb {
		height: 100%;
	}


}
