/*
 * lazy images
 */
img.lazyload,
img.lazyloading,
img.lazyloaded {
	will-change: opacity;
	transition: all .3s ease-in-out;
}
.lazyload,
.lazyloading,
.lazyload + figcaption,
.lazyloading + figcaption {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
}


/*
 *  Intrinsic Ratio
 */
.intrinsic-ratio-wrapper {
	display: inline-block;
}
.intrinsic-ratio {
	position: relative;
	height: 0;
}
.intrinsic-ratio > img,
.intrinsic-ratio > picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
