/*
 * lazy images
 */
img.lazyload,
img.lazyloading,
img.lazyloaded {
	will-change: opacity;
	transition: all .3s ease-in-out;
}
.lazyload,
.lazyloading,
.lazyload + figcaption,
.lazyloading + figcaption {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
}